@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-weight: 500;
  margin-top: 20px;
}

.forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.forms__layout {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 25px 50px 25px 50px;
  box-shadow: -10px 10px 100px#d7dfd6;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.forms__layout h2 {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333366;
  text-align: center;
}

.forms__layout form{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.forms__layout form .forms__layout--input{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.forms__layout form label{
  align-self: flex-start;
  font-size: 14px;
}

.forms__layout form input{
  width: 100%;
  height: 25px;
  border: 2px solid #333366;
  border-radius: 5px;
  outline: none;
}

.forms__layout--btn{
  padding: 3px;
  margin-bottom: 5px;
  border: 0;
  /* border: 2px solid #333366; */
  border-radius: 5px;
  box-shadow: 10px 10px 100px#ffffff;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  background: #d7dfd6;
}

/* Experimental */

.forms__layout--alert{
  color: #eb4034
}

.forms__layout--input div {
  overflow-x: hidden;
  display: flex;
  min-width: 100%;
}

.forms__layout--input label.getRid{
  transform: translateX(-750%);
  transition: 1s;
}

.forms__layout--input div .previousInput{
  min-width: 100%;
  transform: translateX(0%);
  transition: 1s;
}

.forms__layout--input div .previousInput.transition{
  min-width: 100%;
  transform: translateX(-200%);
}

.forms__layout--input div .previousInput.getRid{
  min-width: 100%;
  transform: translateX(-300%);
}

.forms__layout--input div .newInput {
  transform: translateX(50%);
  min-width: 100%;
  transition: 1s;
}

.forms__layout--input div .newInput.transition {
  transform: translateX(-100%);
  min-width: 100%;
}

.forms__layout--input div .newInput.getRid{
  transform: translateX(-300%);
  min-width: 100%;
}

.forms__layout--input div p{
  font-size: 16px;
  text-align: center;
  min-width: 100%;
  transform: translateX(100%);
  transition: 1s;
}

.forms__layout--input div p.transition{
  min-width: 100%;
  transform: translateX(-200%);
}

.forms__layout .forms__layout--btn.getRid{
  transform: translateX(-450%);
  transition: 1s;
}